[submodule "library/Aw"]
	path = library/Aw
	url = diveary@tvb.apu.4pu.com:allweb.git
[submodule "data/google-refine.git"]
	path = data/google-refine.git
	url = https://github.com/jdunck/google-refine.git
