@CHARSET "UTF-8";
/* line 3, sass/mobile.scss */
html, body, .page {
  height: 100%;
}

/* line 7, sass/mobile.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
}

/* line 12, sass/mobile.scss */
h1 {
  font-size: x-large;
  padding: 1em;
  color: white;
}

/* line 18, sass/mobile.scss */
h2 {
  text-align: center;
  font-size: 2em;
  margin: 5px;
}

/* line 26, sass/mobile.scss */
ul {
  list-style: none;
}

/* line 30, sass/mobile.scss */
blockquote {
  margin: 30px 10px 20px 10px;
  min-height: 50px;
}

/* line 35, sass/mobile.scss */
.bqstart, .bqend {
  padding-top: 45px;
  font-size: 700%;
  color: #ddd;
  font-family: Georgia, serif;
}

/* line 42, sass/mobile.scss */
.bqstart {
  float: left;
  height: 45px;
  margin-top: -20px;
  margin-bottom: -50px;
}

/* line 49, sass/mobile.scss */
.bqend {
  float: right;
  height: 25px;
  margin-top: 0px;
}

/* line 55, sass/mobile.scss */
.home {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* line 62, sass/mobile.scss */
#nav {
  padding: 0.5em 1em;
  background-color: #4db8e0;
}

/* line 67, sass/mobile.scss */
#main {
  padding: 1em;
}

/* line 71, sass/mobile.scss */
#topNav {
  position: absolute;
  right: 1em;
  top: 1em;
}
/* line 75, sass/mobile.scss */
#topNav li {
  display: inline;
  list-decoration: none;
  margin: 0 7px;
}
/* line 80, sass/mobile.scss */
#topNav a {
  text-decoration: none;
  font-size: 14px;
}

/* line 87, sass/mobile.scss */
.clear {
  clear: both;
}

/* line 91, sass/mobile.scss */
.right {
  float: right;
}

/* line 95, sass/mobile.scss */
.left {
  float: left;
}

/* line 99, sass/mobile.scss */
.separator {
  border-top: 1px solid #ddd;
  height: 1px;
  width: 75%;
}

/**
 * Search Form
 */
/* line 109, sass/mobile.scss */
#searchForm {
  position: absolute;
  left: 200px;
  top: 1.5em;
}

/* line 115, sass/mobile.scss */
#searchQuery {
  width: 400px;
  height: 25px;
  font-size: large;
  padding-left: 0.5em;
}

/**
 * Form elements
 */
/**
 * Controls
 */
/* line 131, sass/mobile.scss */
a.reviews {
  font-size: 11px;
  text-align: center;
  padding: 0px;
  margin: 2px 0 8px 0;
  line-height: 16px;
  background: url("/img/icons/social/reviews.png") no-repeat;
  text-decoration: none;
  display: block;
  width: 25px;
  height: 20px;
  color: #555;
}
/* line 144, sass/mobile.scss */
a.icon-small {
  margin: 2px;
  display: block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
}
/* line 151, sass/mobile.scss */
a.facebook {
  background: url("/img/icons/social/facebook.png") no-repeat;
}
/* line 154, sass/mobile.scss */
a.twitter {
  background: url("/img/icons/social/twitter.png") no-repeat;
}
/* line 157, sass/mobile.scss */
a.flag {
  background: url("/img/icons/social/flag.png") no-repeat;
}
/* line 160, sass/mobile.scss */
a.edit {
  background: url("/img/icons/social/edit.png") no-repeat;
}
/* line 163, sass/mobile.scss */
a.favorite {
  background: url("/img/icons/social/favorite.png") no-repeat;
}
/* line 166, sass/mobile.scss */
a.not-favorite {
  background: url("/img/icons/social/not-favorite.png") no-repeat;
}

/**
 *
 */
/* line 176, sass/mobile.scss */
.distance {
  font-weight: normal;
  position: absolute;
  top: 3px;
  right: 25px;
}

/* line 184, sass/mobile.scss */
.indexDeal {
  font-weight: normal;
  margin-left: 20px;
  line-height: 25px;
  height: 25px;
}
/* line 190, sass/mobile.scss */
.indexDeal img {
  margin: auto;
}

/**
 * Venue specific styles
 */
/* line 199, sass/mobile.scss */
h2.venue {
  margin-left: 420px;
}

/* line 203, sass/mobile.scss */
#venueInfo {
  float: left;
  width: 30%;
  min-width: 300px;
}

/* line 209, sass/mobile.scss */
#venueDeals {
  float: left;
  width: 40%;
}

/* line 214, sass/mobile.scss */
#venueReviews {
  float: left;
  width: 30%;
}

/* line 220, sass/mobile.scss */
#venueInfo #venueDeals li, #venueInfo #venueReviews li {
  list-style: none;
  padding: 1em;
  margin: 0.5em 1em;
  border: 1px solid #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 232, sass/mobile.scss */
#map {
  height: 100%;
}

/* line 237, sass/mobile.scss */
#venueSummary .rounded {
  background-color: #fff;
  margin: 1em;
  padding: 1em;
}
/* line 242, sass/mobile.scss */
#venueSummary h3 {
  font-family: Georgia,"Nimbus Roman No9 L",serif;
  font-size: 1.5em;
  font-style: italic;
}
/* line 247, sass/mobile.scss */
#venueSummary ul {
  list-style: none;
}
/* line 250, sass/mobile.scss */
#venueSummary #favoriteVenue img {
  margin: 2px;
}

/* line 256, sass/mobile.scss */
.socialControls {
  margin: 0 1em;
}

/* line 260, sass/mobile.scss */
#summaryReviews, #summaryDeals {
  right: 1em;
  left: 1em;
  width: auto;
}

/*#summaryReviews {
	position   : absolute;
	bottom     : 1em;
	height	   : 95px;
}*/
/* line 272, sass/mobile.scss */
p.when {
  color: 555;
  font-style: italic;
  font-size: 10px;
}

/* line 278, sass/mobile.scss */
.venuePicture {
  border: 1px solid #aad;
  float: right;
  margin: 1em;
}

/* line 284, sass/mobile.scss */
#venueAddress {
  margin: 1em;
  font-size: 1.2em;
}

/* line 289, sass/mobile.scss */
.addIcon {
  position: absolute;
  top: -3px;
  right: 5px;
}

/* line 295, sass/mobile.scss */
.noContent {
  color: #999;
  font-style: italic;
}

/* Nav bar icons */
/* line 303, sass/mobile.scss */
.nav-bar .ui-btn .ui-btn-inner {
  padding-top: 40px !important;
}
/* line 306, sass/mobile.scss */
.nav-bar .ui-btn .ui-icon {
  width: 30px!important;
  height: 30px!important;
  margin-left: -15px !important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

/* line 319, sass/mobile.scss */
.map-tab .ui-icon {
  background: url("/img/icons/navbar/103-map.png") 50% 50% no-repeat;
  background-size: 26px 21px;
}

/* line 324, sass/mobile.scss */
.beer-tab .ui-icon {
  background: url("/img/icons/navbar/88-beer-mug.png") 50% 50% no-repeat;
  background-size: 22px 27px;
}

/* line 329, sass/mobile.scss */
.mail-tab .ui-icon {
  background: url("/img/icons/navbar/18-envelope.png") 50% 50% no-repeat;
  background-size: 24px 16px;
}

/* line 334, sass/mobile.scss */
.ui-select {
  width: 45%;
  display: inline-block;
}

/* jQuery Mobile theme */
/* line 340, sass/mobile.scss */
.ui-bar-a {
  border: 1px solid 		#009ec3;
  background: #009ec3;
  color: #ffffff;
  font-weight: bold;
  text-shadow: #27c 0 1px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b7ea), to(#009ec3));
  background-image: -webkit-linear-gradient(#00b7ea, #009ec3);
  background-image: -moz-linear-gradient(#00b7ea, #009ec3);
  background-image: -ms-linear-gradient(#00b7ea, #009ec3);
  background-image: -o-linear-gradient(#00b7ea, #009ec3);
  background-image: linear-gradient(#00b7ea, #009ec3);
}
/* line 353, sass/mobile.scss */
.ui-bar-a h1 {
  line-height: 30px;
  vertical-align: middle;
}

/* line 359, sass/mobile.scss */
div[data-role='header'] {
  height: 52px;
}

/* line 363, sass/mobile.scss */
.navButton {
  margin: 9px 10px;
}
