/* ribbon style */
/* line 5, sass/ribbon.scss */
.ribbon-wrapper {
  position: relative;
  border-top: -10px solid #cccccc;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
  -webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
  -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
  -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
}

/* line 13, sass/ribbon.scss */
.ribbon-front {
  background-color: #4E9BDE;
  height: 35px;
  background: #00b7ea;
  width: 100%;
  position: relative;
  left: -10px;
  z-index: 2;
}
/* line 21, sass/ribbon.scss */
.ribbon-front h2 {
  color: white;
  border: 0;
  padding: 0px 20px 4px 20px;
  font-style: italic;
}

/* line 32, sass/ribbon.scss */
.ribbon-front,
.ribbon-back-left,
.ribbon-back-right {
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  background: #00b7ea;
}

/* line 43, sass/ribbon.scss */
.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px;
}

/* line 56, sass/ribbon.scss */
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  top: 35px;
}

/* line 61, sass/ribbon.scss */
.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #4976A4 transparent transparent;
}

/* line 66, sass/ribbon.scss */
.ribbon-edge-topleft {
  top: 10px;
  border-width: -10px 10px 0 0;
}

/* line 70, sass/ribbon.scss */
.ribbon-edge-bottomleft {
  border-width: 0 10px 10px 0;
}

/* line 75, sass/ribbon.scss */
.ribbon-edge-topright,
.ribbon-edge-bottomright {
  left: 300px;
  border-color: transparent transparent transparent #4976A4;
}

/* line 80, sass/ribbon.scss */
.ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}

/* line 84, sass/ribbon.scss */
.ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}

/* line 88, sass/ribbon.scss */
.ribbon-back-left {
  position: absolute;
  top: 10px;
  left: -25px;
  width: 25px;
  height: 35px;
  background-color: #4E9BDE;
  z-index: 0;
}

/* line 97, sass/ribbon.scss */
.ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 40px;
  z-index: 0;
}
