@import url('snickles/stylesheet.css');
@CHARSET "UTF-8";
/**
 * Global variables
 */
/* line 36, sass/style.scss */
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 42, sass/style.scss */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), to(#dddddd));
  background: -webkit-linear-gradient(top, #ececec, #dddddd);
  background: -moz-linear-gradient(top, #ececec, #dddddd);
  background: -ms-linear-gradient(top, #ececec, #dddddd);
  background: -o-linear-gradient(top, #ececec, #dddddd);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 58, sass/style.scss */
.sticky, .sticky-style {
  border: 1px solid #696;
  text-align: left;
  padding: 0px 5px;
  -webkit-box-shadow: #666 0px 0px 3px;
  -moz-box-shadow: #666 0px 0px 3px;
  box-shadow: #666 0px 0px 3px;
  background: #EEFF99;
  behavior: url(/PIE.htc);
  z-index: 1000;
  width: 100%;
}

/* line 71, sass/style.scss */
form dl {
  margin: 4px 0px;
}
/* line 72, sass/style.scss */
form dl dd {
  margin: 4px 0px;
}

/* line 78, sass/style.scss */
a#logo {
  text-indent: -9999px;
  display: block;
  height: 32px;
  width: 92px;
  padding: 0;
  margin-top: 3px;
  background-image: url("/img/dunia.png");
  background-repeat: no-repeat;
}

/* line 89, sass/style.scss */
form fieldset {
  border: inset 1px darkgrey;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

/* line 96, sass/style.scss */
.pad_top {
  padding-top: 5px;
}

/* line 100, sass/style.scss */
.pad_bottom {
  padding-bottom: 5px;
}

/* line 104, sass/style.scss */
.right {
  float: right;
}

/* line 108, sass/style.scss */
.left {
  float: left;
}

/* line 112, sass/style.scss */
h1 {
  color: #555;
}

/* line 116, sass/style.scss */
#header {
  margin: 0;
  padding: 0;
  height: 40px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #eef;
  text-shadow: #27c 0 1px 0;
  text-decoration: none;
  background: #00b7ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* IE10+ */
  background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
/* line 130, sass/style.scss */
#header label {
  margin-left: 20px;
  font-size: 120%;
}
/* line 135, sass/style.scss */
#header #form {
  float: left;
  top: 8px;
  position: relative;
}
/* line 141, sass/style.scss */
#header #nav {
  float: right;
  position: relative;
  top: 10px;
}
/* line 146, sass/style.scss */
#header #nav a {
  display: block;
  float: right;
  margin-right: 12px;
}
/* line 153, sass/style.scss */
#header a {
  color: #eef;
  font-size: 110%;
  text-shadow: #27c 0 1px 0;
  text-decoration: none;
}

/* line 162, sass/style.scss */
#profile-nav {
  height: 23px;
}
/* line 164, sass/style.scss */
#profile-nav img {
  float: left;
  margin: 0 5px 0 7px;
  position: relative;
}

/* line 171, sass/style.scss */
.content {
  background-color: white;
  padding-bottom: 20px;
  border: solid 1px #D9D9D9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

/* line 183, sass/style.scss */
.sidebar {
  height: 100%;
}
/* line 185, sass/style.scss */
.sidebar > div {
  border-left: solid 1px #e9e9e9;
}

/* line 191, sass/style.scss */
.contact {
  padding: 10px;
}
/* line 193, sass/style.scss */
.contact .address {
  font-style: italic;
  font-size: 110%;
}

/**
 * Promos
 */
/* line 204, sass/style.scss */
#promos td {
  padding: 0;
}

/* line 208, sass/style.scss */
.promo {
  padding: 0;
}
/* line 210, sass/style.scss */
.promo .time {
  background-color: #eee;
  margin: 0;
  padding: 5px;
}
/* line 216, sass/style.scss */
.promo .promoDescription {
  text-align: left;
  font-size: x-small;
}

/* line 223, sass/style.scss */
.promoContent {
  text-align: center;
  font-size: 15px;
  padding: 5px;
}

/* line 229, sass/style.scss */
#flag {
  text-align: right;
  margin-top: 10px;
}
/* line 233, sass/style.scss */
#flag a {
  color: #1291ff;
  text-decoration: none;
  padding-left: 20px;
  background: url(/img/icons/famfamfam/flag_red.png) no-repeat;
}

/* line 241, sass/style.scss */
.pub-overview h2 {
  color: #555;
}
/* line 245, sass/style.scss */
.pub-overview ul {
  list-style: none;
  padding-left: 0;
  overflow: auto;
}
/* line 251, sass/style.scss */
.pub-overview .addthis_toolbox > a {
  margin: 5px;
  display: block;
  float: none;
}
/* line 257, sass/style.scss */
.pub-overview #photos {
  clear: both;
  overflow: auto;
}
/* line 261, sass/style.scss */
.pub-overview #photos .venuePic {
  margin: 10px;
  padding: 4px;
  border: 1px solid #ccc;
}
/* line 267, sass/style.scss */
.pub-overview #photos li {
  float: left;
}
/* line 273, sass/style.scss */
.pub-overview #tips li {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  overflow: auto;
}
/* line 282, sass/style.scss */
.pub-overview .tip-container {
  clear: both;
}
/* line 285, sass/style.scss */
.pub-overview .tip-container .tip {
  margin-top: 5px;
  font-size: 18px;
}
/* line 290, sass/style.scss */
.pub-overview .tip-container .author {
  float: left;
  font-size: 10px;
}
/* line 294, sass/style.scss */
.pub-overview .tip-container .author .name, .pub-overview .tip-container .author .from {
  margin-left: 5px;
}
/* line 298, sass/style.scss */
.pub-overview .tip-container .author img {
  margin: 5px 5px 1px 5px;
  border: 1px solid #ccc;
  padding: 3px;
}

/**
 * Index page (big map)
 */
/* line 314, sass/style.scss */
#bottom-info-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(104, 187, 235, 0.9);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 5px 5px 5px 15px;
  -moz-border-top-left-radius: 50px 100px;
  -webkit-border-top-left-radius: 50px 100px;
  border-top-left-radius: 50px 100px;
}
/* line 315, sass/style.scss */
#bottom-info-bar .summary {
  font-family: "SnicklesRegular";
  font-size: 20px;
}
/* line 316, sass/style.scss */
#bottom-info-bar .summary img {
  vertical-align: middle;
  padding-right: 3px;
}

/* line 340, sass/style.scss */
.overlay {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 345, sass/style.scss */
.overlay h2 {
  margin: 0 0 5px 0;
  color: #555;
  text-align: center;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman","Helvetica Neue Roman","TeXGyreHerosRegular","Helvetica","Tahoma","Geneva","Arial",sans-serif;
}
/* line 352, sass/style.scss */
.overlay .overlayContent {
  border: 1px solid rgba(104, 187, 235, 0.9);
  border-left: 0;
  border-right: 0;
  margin: 0;
}
/* line 358, sass/style.scss */
.overlay .overlayContent div {
  padding: 20px 5px;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman","Helvetica Neue Roman","TeXGyreHerosRegular","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  font-size: 20px;
}
/* line 363, sass/style.scss */
.overlay .overlayContent div span {
  font-weight: bold;
  font-size: 30px;
}
/* line 369, sass/style.scss */
.overlay .overlayContent div.deal {
  padding: 0;
  margin-bottom: 5px;
}
/* line 374, sass/style.scss */
.overlay .overlayContent h3 {
  text-align: center;
  color: #fff;
  background-color: rgba(104, 187, 235, 0.9);
  margin: 0;
  padding: 0;
}
/* line 383, sass/style.scss */
.overlay .foot {
  margin-top: 10px;
  overflow: auto;
  position: relative;
}
/* line 388, sass/style.scss */
.overlay .foot .address {
  color: #555;
  font-size: 80%;
}
/* line 393, sass/style.scss */
.overlay .foot a {
  text-decoration: none;
  color: #1291ff;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 402, sass/style.scss */
a.small-icon {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px;
  text-indent: -9999px;
}

/* line 411, sass/style.scss */
a.ok {
  background: url(/img/icons/famfamfam/accept.png) no-repeat;
}

/* line 415, sass/style.scss */
a.cancel {
  background: url(/img/icons/famfamfam/cancel.png) no-repeat;
}

/* line 419, sass/style.scss */
.admin-nav {
  list-style: none;
}
/* line 423, sass/style.scss */
.admin-nav li a {
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
  margin: 0 16px 0 6px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #ddd;
  color: #555;
}
/* line 435, sass/style.scss */
.admin-nav li a.selected {
  background: #00b7ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* IE10+ */
  background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 50px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  margin: 0;
  border: 0;
  border-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
  text-shadow: #2277cc 0 -1px 0;
}

/* line 463, sass/style.scss */
#flagForm #dealSelector {
  padding: 20px;
  font-size: 15px;
  border-right: 1px solid #ccc;
  margin-right: 20px;
}
/* line 471, sass/style.scss */
#flagForm #dealSubforms dd {
  margin-bottom: 10px;
}
/* line 476, sass/style.scss */
#flagForm dt > label {
  font-weight: bold;
  font-size: 15px;
}
/* line 480, sass/style.scss */
#flagForm label[for*='type-'] {
  font-size: 18px;
  margin: 2px 15px 2px 0;
}
/* line 485, sass/style.scss */
#flagForm fieldset {
  border: 0;
  padding: 0;
}
/* line 490, sass/style.scss */
#flagForm hr {
  color: #ddd;
}

/* line 495, sass/style.scss */
.venuePic {
  margin: 10px;
  padding: 4px;
  border: 1px solid #ccc;
}

/* line 501, sass/style.scss */
#mailshare form {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  padding: 20px;
}

/* line 506, sass/style.scss */
#facebookConnect, #signInWithTwitter {
  margin: 20px;
  display: block;
  text-indent: -9999px;
  height: 21px;
  width: 169px;
}

/* line 514, sass/style.scss */
#facebookConnect {
  background: url("/img/icons/facebookconnect.png") no-repeat scroll 0 0 transparent;
}

/* line 518, sass/style.scss */
#signInWithTwitter {
  background: url("/img/icons/twittersignin.png") no-repeat scroll 0 0 transparent;
}
