@import url("snickles/stylesheet.css");
@CHARSET "UTF-8";
/**
 * Global variables
 */
/* line 15, sass/style.scss */
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 21, sass/style.scss */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 33, sass/style.scss */
.sticky, .sticky-style {
  text-align: left;
  padding: 5px 0;
  margin: 15px 0;
  background: #fff;
  behavior: url(/PIE.htc);
  z-index: 1000;
  width: 50%;
}
/* line 42, sass/style.scss */
.sticky img, .sticky-style img {
  display: inline-block;
  margin-right: 10px;
  padding: 4px;
  border: 1px solid #f1f1f1;
}

/* line 50, sass/style.scss */
form dl {
  margin: 4px 0px;
}
/* line 51, sass/style.scss */
form dl dd {
  margin: 4px 0px;
}

/* line 57, sass/style.scss */
a#logo {
  text-indent: -9999px;
  display: block;
  height: 32px;
  width: 92px;
  padding: 0;
  margin-top: 3px;
  margin-left: 20px;
  background-image: url("/img/dunia.png");
  background-repeat: no-repeat;
}

/* line 69, sass/style.scss */
form fieldset {
  border: inset 1px darkgrey;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px;
}
/* line 77, sass/style.scss */
form fieldset legend {
  width: auto;
  border-bottom: 0;
  text-align: right;
}
/* line 82, sass/style.scss */
form fieldset legend a {
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
}

/* line 90, sass/style.scss */
.pad_top {
  padding-top: 5px;
}

/* line 94, sass/style.scss */
.pad_bottom {
  padding-bottom: 5px;
}

/* line 98, sass/style.scss */
.right {
  float: right;
}

/* line 102, sass/style.scss */
.left {
  float: left;
}

/* line 106, sass/style.scss */
h1 {
  font-family: 'Imprima', Arial, sans-serif;
  font-size: 34px;
  font-weight: normal;
  color: #555;
}

/* line 113, sass/style.scss */
#header {
  margin: 0;
  padding: 0;
  min-height: 40px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #eef;
  text-shadow: #27c 0 1px 0;
  text-decoration: none;
  background: #00b7ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* IE10+ */
  background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00b7ea', endColorstr = '#009ec3', GradientType = 0);
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
/* line 127, sass/style.scss */
#header label {
  float: left;
  margin-left: 20px;
  font-size: 120%;
}
/* line 133, sass/style.scss */
#header #form {
  top: 8px;
  display: inline;
  position: relative;
}
/* line 138, sass/style.scss */
#header #form ul.nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding-top: 8px;
}
/* line 141, sass/style.scss */
#header #form ul.nav > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
  margin: 0 10px;
}
/* line 7, ../../../../../../usr/local/share/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#header #form ul.nav > li {
  *display: inline;
}
/* line 150, sass/style.scss */
#header a {
  font-weight: normal;
  color: #eef;
  font-size: 110%;
  text-shadow: #27c 0 1px 0;
  text-decoration: none;
}

/* line 162, sass/style.scss */
#profile-nav {
  height: 23px;
}
/* line 164, sass/style.scss */
#profile-nav img {
  float: left;
  margin: 0 5px 0 7px;
  position: relative;
}

/* line 171, sass/style.scss */
.content {
  background-color: white;
  border: solid 1px #D9D9D9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
/* line 183, sass/style.scss */
.content h1 {
  margin-top: 30px;
}
@media (max-width: 767px) {
  /* line 171, sass/style.scss */
  .content {
    margin-top: 0;
  }
}

/* line 192, sass/style.scss */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* line 197, sass/style.scss */
.sidebar-nav-fixed {
  position: fixed;
  top: 60px;
}

@media (max-width: 767px) {
  /* line 204, sass/style.scss */
  .sidebar-nav-fixed {
    width: auto;
  }
}
@media (max-width: 979px) {
  /* line 210, sass/style.scss */
  .sidebar-nav-fixed {
    position: static;
    width: auto;
  }
}
/**
 * Promos
 */
/* line 221, sass/style.scss */
table.promos.generic td {
  padding: 0;
}
/* line 224, sass/style.scss */
table.promos.generic th.today {
  color: red;
}

/* line 229, sass/style.scss */
.promo {
  padding: 0;
}
/* line 231, sass/style.scss */
.promo .time {
  background-color: #eee;
  margin: 0;
  padding: 5px;
  font-size: 9px;
}
/* line 238, sass/style.scss */
.promo .promoDescription {
  text-align: left;
  font-size: x-small;
  font-size: 9px;
}
/* line 243, sass/style.scss */
.promo div {
  line-height: 100%;
}

/* line 248, sass/style.scss */
.promoContent {
  text-align: center;
  padding: 5px;
  font-size: 11px;
}

/* line 254, sass/style.scss */
#flag {
  text-align: right;
  margin-top: 10px;
}
/* line 258, sass/style.scss */
#flag a {
  color: #1291ff;
  text-decoration: none;
  padding-left: 20px;
  background: url(/img/icons/famfamfam/flag_red.png) no-repeat;
}

/* line 268, sass/style.scss */
.pub-overview #content-row {
  float: left;
}
/* line 272, sass/style.scss */
.pub-overview #sidebar-row {
  float: right !important;
  margin-left: auto;
}
@media (max-width: 767px) {
  /* line 278, sass/style.scss */
  .pub-overview #content-row {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
  }
  /* line 284, sass/style.scss */
  .pub-overview #sidebar-row {
    float: none !important;
    margin-left: 0;
  }
}
/* line 290, sass/style.scss */
.pub-overview h2 {
  margin-top: 10px;
  color: #555;
  font-family: 'Imprima', Arial, sans-serif;
  font-weight: normal;
  font-size: 25px;
  border-bottom: 1px solid #eee;
}
/* line 299, sass/style.scss */
.pub-overview h1 {
  float: left;
  margin-left: 10px;
}
/* line 302, sass/style.scss */
.pub-overview h1 img {
  vertical-align: middle;
  display: inline-block;
  margin-top: -5px;
}
@media (max-width: 767px) {
  /* line 299, sass/style.scss */
  .pub-overview h1 {
    float: none;
    margin-bottom: 20px;
  }
}
/* line 314, sass/style.scss */
.pub-overview label {
  display: inline-block;
}
/* line 320, sass/style.scss */
.pub-overview ul {
  list-style: none;
  padding-left: 0;
  overflow: auto;
}
/* line 326, sass/style.scss */
.pub-overview .addthis_toolbox > a {
  margin: 5px;
}
/* line 330, sass/style.scss */
.pub-overview #photos {
  clear: both;
  overflow: auto;
}
/* line 334, sass/style.scss */
.pub-overview #photos .venuePic {
  margin: 9px;
  padding: 4px;
  border: 1px solid #ccc;
}
/* line 340, sass/style.scss */
.pub-overview #photos li {
  float: left;
}
/* line 345, sass/style.scss */
.pub-overview .tip-container {
  clear: both;
  overflow: auto;
  font-size: 13px;
  font-weight: normal;
  color: #444;
  margin: 10px;
}
/* line 353, sass/style.scss */
.pub-overview .tip-container img {
  border: 1px solid #ccc;
  padding: 3px;
  margin-right: 10px;
}
/* line 359, sass/style.scss */
.pub-overview .tip-container a {
  padding: 0;
  text-decoration: none;
  color: #2398C9;
  font-weight: bold;
}
/* line 366, sass/style.scss */
.pub-overview .tip-container .date {
  color: #999;
}
/* line 373, sass/style.scss */
.pub-overview #tipsWrapper ul li {
  overflow: auto;
  margin-bottom: 5px;
}
/* line 378, sass/style.scss */
.pub-overview #tipsWrapper ul .separator {
  border-bottom: 1px solid #f1f1f1;
  margin: 0 10px;
}
/* line 384, sass/style.scss */
.pub-overview .details {
  overflow: auto;
  margin-bottom: 20px;
}
/* line 386, sass/style.scss */
.pub-overview .details .contact .address {
  float: left;
  padding: 5px;
}
/* line 391, sass/style.scss */
.pub-overview .details .contact .urls {
  float: right;
  padding: 5px;
}
/* line 401, sass/style.scss */
.pub-overview .sidebar {
  height: 100%;
  border-left: solid 1px #f1f1f1;
}
/* line 405, sass/style.scss */
.pub-overview .sidebar span.price {
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}
/* line 411, sass/style.scss */
.pub-overview .sidebar span.liquorType {
  font-family: 'Imprima', Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
}
/* line 417, sass/style.scss */
.pub-overview .sidebar .liquorSize {
  font-family: 'Imprima', Arial, sans-serif;
  font-style: italic;
  padding: 5px;
}

/**
* Index page (big map)
*/
/* line 429, sass/style.scss */
#bottom-info-bar {
  height: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(104, 187, 235, 0.9);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 5px 5px 5px 15px;
  -moz-border-top-left-radius: 50px 100px;
  -webkit-border-top-left-radius: 50px 100px;
  border-top-left-radius: 50px 100px;
}
/* line 430, sass/style.scss */
#bottom-info-bar .summary {
  font-family: 'Imprima', Arial, sans-serif;
  font-size: 18px;
  margin-right: 20px;
}
/* line 431, sass/style.scss */
#bottom-info-bar .summary img {
  vertical-align: middle;
  padding-right: 3px;
}
/* line 438, sass/style.scss */
#bottom-info-bar .summary a {
  text-decoration: none;
  color: #222;
}

/* line 462, sass/style.scss */
.overlay {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 467, sass/style.scss */
.overlay h2 {
  margin: 0 0 5px 0;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  text-align: center;
  font-family: 'Imprima', "Arial", sans-serif;
  vertical-align: middle;
}
/* line 476, sass/style.scss */
.overlay h2 img {
  display: inline-block;
  vertical-align: middle;
}
/* line 483, sass/style.scss */
.overlay .overlayContent {
  border: 1px solid rgba(104, 187, 235, 0.9);
  border-left: 0;
  border-right: 0;
  margin: 0;
}
/* line 489, sass/style.scss */
.overlay .overlayContent div {
  padding: 20px 5px;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 20px;
}
/* line 494, sass/style.scss */
.overlay .overlayContent div span.price {
  font-weight: bold;
  font-size: 30px;
}
/* line 499, sass/style.scss */
.overlay .overlayContent div span.liquorType {
  font-weight: normal;
  font-size: 24px;
}
/* line 504, sass/style.scss */
.overlay .overlayContent div div.left {
  padding: 0;
}
/* line 508, sass/style.scss */
.overlay .overlayContent div div.right {
  padding: 0;
  margin-left: 10px;
}
/* line 512, sass/style.scss */
.overlay .overlayContent div div.right div.time, .overlay .overlayContent div div.right div.size {
  font-size: 14px;
  padding: 0;
}
/* line 520, sass/style.scss */
.overlay .overlayContent div.deal {
  padding: 0;
  margin-bottom: 10px;
  overflow: auto;
}
/* line 526, sass/style.scss */
.overlay .overlayContent h3 {
  text-align: center;
  color: #fff;
  background-color: rgba(104, 187, 235, 0.9);
  font-family: 'Imprima', "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/* line 539, sass/style.scss */
.overlay .overlayContent table div {
  font-size: 12px;
  padding: 0;
}
/* line 543, sass/style.scss */
.overlay .overlayContent table th {
  padding: 2px 5px;
  font-variant: small-caps;
}
/* line 549, sass/style.scss */
.overlay .overlayContent table span.price {
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}
/* line 555, sass/style.scss */
.overlay .overlayContent table span.liquorType {
  font-family: 'Imprima', Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
}
/* line 561, sass/style.scss */
.overlay .overlayContent table .liquorSize {
  font-family: 'Imprima', Arial, sans-serif;
  font-style: italic;
  padding: 5px;
}
/* line 567, sass/style.scss */
.overlay .overlayContent table .thePromo {
  padding: 8px 4px 4px 4px;
}
/* line 573, sass/style.scss */
.overlay .foot {
  margin-top: 10px;
  overflow: auto;
  position: relative;
}
/* line 578, sass/style.scss */
.overlay .foot .address {
  color: #555;
  font-size: 80%;
}
/* line 583, sass/style.scss */
.overlay .foot a {
  text-decoration: none;
  color: #1291ff;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 593, sass/style.scss */
a.small-icon {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px;
  text-indent: -9999px;
}

/* line 602, sass/style.scss */
a.ok {
  background: url(/img/icons/famfamfam/accept.png) no-repeat;
}

/* line 606, sass/style.scss */
a.cancel {
  background: url(/img/icons/famfamfam/cancel.png) no-repeat;
}

/* line 610, sass/style.scss */
.admin-nav {
  list-style: none;
}
/* line 614, sass/style.scss */
.admin-nav li a {
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
  margin: 0 16px 0 6px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #ddd;
  color: #555;
}
/* line 626, sass/style.scss */
.admin-nav li a.selected {
  background: #00b7ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* IE10+ */
  background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00b7ea', endColorstr = '#009ec3', GradientType = 0);
  /* IE6-9 */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 50px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  margin: 0;
  border: 0;
  border-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
  text-shadow: #2277cc 0 -1px 0;
}

/* line 653, sass/style.scss */
#flagForm #dealSelector {
  padding: 20px;
  font-size: 15px;
  border-right: 1px solid #ccc;
  margin-right: 20px;
}
/* line 661, sass/style.scss */
#flagForm #dealSubforms dd {
  margin-bottom: 10px;
}
/* line 666, sass/style.scss */
#flagForm dt > label {
  font-weight: bold;
  font-size: 15px;
}
/* line 670, sass/style.scss */
#flagForm label[for*='type-'] {
  font-size: 18px;
  margin: 2px 15px 2px 0;
}
/* line 675, sass/style.scss */
#flagForm fieldset {
  border: 0;
  padding: 0;
}
/* line 680, sass/style.scss */
#flagForm hr {
  color: #ddd;
}

/* line 685, sass/style.scss */
.venuePic {
  margin: 10px;
  padding: 4px;
  border: 1px solid #ccc;
}

/* line 691, sass/style.scss */
#mailshare form {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  padding: 20px;
}
/* line 694, sass/style.scss */
#mailshare form.done {
  -webkit-box-shadow: 0px 0px 5px green;
  -moz-box-shadow: 0px 0px 5px green;
  box-shadow: 0px 0px 5px green;
}

/* line 699, sass/style.scss */
#facebookConnect, #signInWithTwitter {
  margin: 20px;
  display: block;
  text-indent: -9999px;
  height: 21px;
  width: 169px;
}

/* line 707, sass/style.scss */
#facebookConnect {
  background: url("/img/icons/facebookconnect.png") no-repeat scroll 0 0 transparent;
}

/* line 711, sass/style.scss */
#signInWithTwitter {
  background: url("/img/icons/twittersignin.png") no-repeat scroll 0 0 transparent;
}

/**
 * User Profile
 */
/* line 720, sass/style.scss */
#services ul {
  list-style: none;
  padding: 0;
}
/* line 724, sass/style.scss */
#services ul li {
  margin: 10px;
}

/* line 730, sass/style.scss */
#advanced-filter {
  max-height: 15px;
  -webkit-transition-property: max-height;
  -moz-transition-property: max-height;
  -ms-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 735, sass/style.scss */
#advanced-filter:hover {
  max-height: 500px;
}

/* line 740, sass/style.scss */
#category-list {
  list-style-type: none;
  padding: 0;
  margin: 5px;
  margin-right: 15px;
}
/* line 746, sass/style.scss */
#category-list label {
  display: inline-block;
}
/* line 750, sass/style.scss */
#category-list label, #category-list input {
  vertical-align: middle;
}

/* line 755, sass/style.scss */
.glow {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  overflow: hidden;
}

/* line 760, sass/style.scss */
.promo {
  margin: 3px;
}
/* line 763, sass/style.scss */
.promo .thePromo {
  padding: 10px;
  border: 1px solid #eee;
  color: #444;
}

/* line 772, sass/style.scss */
.tooltip {
  display: none;
  background: transparent url("/css/images/black_arrow.png");
  font-size: 12px;
  height: 70px;
  width: 160px;
  padding: 25px;
  color: #eee;
  z-index: 1000;
}

/* line 785, sass/style.scss */
.state-progress {
  text-align: center;
  padding-top: 10px;
}
/* line 788, sass/style.scss */
.state-progress span {
  font-size: 9px;
  font-weight: bold;
}

/* ribbon style */
/* line 5, sass/ribbon.scss */
.ribbon-wrapper {
  position: relative;
  border-top: -10px solid #cccccc;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
  -webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
  -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
  -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
}

/* line 13, sass/ribbon.scss */
.ribbon-front {
  background-color: #4E9BDE;
  height: 35px;
  background: #00b7ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* IE10+ */
  background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00b7ea', endColorstr = '#009ec3', GradientType = 0);
  /* IE6-9 */
  width: 100%;
  position: relative;
  left: -10px;
  z-index: 2;
}
/* line 21, sass/ribbon.scss */
.ribbon-front h2 {
  color: white;
  border: 0;
  padding: 0px 20px 4px 20px;
  font-style: italic;
}

/* line 32, sass/ribbon.scss */
.ribbon-front,
.ribbon-back-left,
.ribbon-back-right {
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  background: #00b7ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* IE10+ */
  background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00b7ea', endColorstr = '#009ec3', GradientType = 0);
  /* IE6-9 */
}

/* line 43, sass/ribbon.scss */
.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px;
}

/* line 56, sass/ribbon.scss */
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  top: 35px;
}

/* line 61, sass/ribbon.scss */
.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #4976A4 transparent transparent;
}

/* line 66, sass/ribbon.scss */
.ribbon-edge-topleft {
  top: 10px;
  border-width: -10px 10px 0 0;
}

/* line 70, sass/ribbon.scss */
.ribbon-edge-bottomleft {
  border-width: 0 10px 10px 0;
}

/* line 75, sass/ribbon.scss */
.ribbon-edge-topright,
.ribbon-edge-bottomright {
  left: 300px;
  border-color: transparent transparent transparent #4976A4;
}

/* line 80, sass/ribbon.scss */
.ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}

/* line 84, sass/ribbon.scss */
.ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}

/* line 88, sass/ribbon.scss */
.ribbon-back-left {
  position: absolute;
  top: 10px;
  left: -25px;
  width: 25px;
  height: 35px;
  background-color: #4E9BDE;
  z-index: 0;
}

/* line 97, sass/ribbon.scss */
.ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 40px;
  z-index: 0;
}

/**
 * About Page
 */
/* line 6, sass/about.scss */
#about h1 {
  margin-bottom: 15px;
}
/* line 10, sass/about.scss */
#about h2, #about h3 {
  margin-top: 10px;
  color: #444;
  font-family: 'Imprima', Arial, sans-serif;
  font-weight: normal;
}
/* line 17, sass/about.scss */
#about h2 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 20px;
}
/* line 23, sass/about.scss */
#about h3 {
  margin: 0;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* line 30, sass/about.scss */
#about p {
  font-size: 15px;
  line-height: 20px;
}
/* line 36, sass/about.scss */
#about .team p {
  font-size: 13px;
  line-height: 18px;
}
/* line 41, sass/about.scss */
#about .team img {
  float: left;
  margin-right: 15px;
  padding: 3px;
  border: 1px solid #ccc;
}
/* line 48, sass/about.scss */
#about .team div {
  margin-bottom: 20px;
}

@CHARSET "UTF-8";
/* line 3, sass/help.scss */
#help h2 {
  margin-top: 5%;
}
/* line 6, sass/help.scss */
#help a.email {
  padding: 0;
}
/* line 9, sass/help.scss */
#help .hero-unit, #help #helpWrapper {
  margin: 2.5%;
}
/* line 13, sass/help.scss */
#help #helpWrapper p {
  font-size: 13px;
  line-height: 18px;
}
/* line 18, sass/help.scss */
#help ol li {
  list-style: lower-roman;
}
/* line 22, sass/help.scss */
#help ul li {
  list-style: image;
}
/* line 26, sass/help.scss */
#help li {
  margin-bottom: 1%;
}
/* line 28, sass/help.scss */
#help li.itson {
  list-style-image: url(/img/icons/markers/half_sml.png);
}
/* line 31, sass/help.scss */
#help li.soon {
  list-style-image: url(/img/icons/markers/full_sml.png);
}
/* line 34, sass/help.scss */
#help li.missed {
  list-style-image: url(/img/icons/markers/empty_sml.png);
}
/* line 37, sass/help.scss */
#help li.notoday {
  list-style-image: url(/img/icons/markers/black_sml.png);
}
/* line 40, sass/help.scss */
#help li.zero {
  list-style-image: url(/img/icons/markers/beer_sml.png);
}

/* line 800, sass/style.scss */
.pac-container {
  line-height: 20px;
}
