/*
Syntax error: Invalid CSS after "@CHARSET "UTF-8";": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 3 of public/css/style.scss

1: @CHARSET "UTF-8";
2: 
3: <<<<<<< HEAD
4: /**
5:  * Global variables
6:  */
7: 
8:  $blueLink: #1291ff;

Backtrace:
public/css/style.scss:3
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/scss/parser.rb:1014:in `expected'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/scss/parser.rb:960:in `expected'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/scss/parser.rb:28:in `parse'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/engine.rb:326:in `_to_tree'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/engine.rb:299:in `_render'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/engine.rb:246:in `render'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/compiler.rb:332:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/compiler.rb:286:in `watch'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:51:in `call'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:51:in `file_event_fn'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:57:in `[]'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:57:in `run_events'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:57:in `each'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:57:in `run_events'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:37:in `start!'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:36:in `each'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:36:in `start!'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:35:in `each'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:35:in `start!'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/var/lib/gems/1.8/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:30:in `start!'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/listener.rb:10:in `initialize'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/compiler.rb:257:in `new'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin/compiler.rb:257:in `watch'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/exec.rb:431:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/var/lib/gems/1.8/gems/sass-3.1.16/bin/sass:8
/usr/local/bin/sass:19:in `load'
/usr/local/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@CHARSET \"UTF-8\";\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 3 of public/css/style.scss\A \A 1: @CHARSET \"UTF-8\";\A 2: \A 3: <<<<<<< HEAD\A 4: /**\A 5:  * Global variables\A 6:  */\A 7: \A 8:  $blueLink: #1291ff;"; }
