#help {

    h2 {
        margin-top: 5%;
    }
    a.email {
        padding: 0;
    }
    .hero-unit, #helpWrapper {
        margin: 2.5%;
    }

    #helpWrapper p {
        font-size: 13px;
        line-height: 18px;
    }

    ol li {
        list-style: lower-roman;
    }
    
    ul li {
        list-style: image;
    }

    li {
        margin-bottom: 1%;
        &.itson {
          list-style-image: url(/img/icons/markers/half_sml.png);
        }
        &.soon {
          list-style-image: url(/img/icons/markers/full_sml.png);
        }
        &.missed {
          list-style-image: url(/img/icons/markers/empty_sml.png);
        }
        &.notoday {
          list-style-image: url(/img/icons/markers/black_sml.png);
        }
        &.zero {
          list-style-image: url(/img/icons/markers/beer_sml.png);
        }
    }
}