@CHARSET "UTF-8";
@import "compass/css3/box-shadow";
@import url('snickles/stylesheet.css');
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/layout/stretching";
@import "compass/typography/lists/inline-block-list";
@import "mixin";   
@import "form";  
/**
 * Global variables
 */

$blueLink: #1291ff;

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ececec;
    

}

.sticky, .sticky-style {
    text-align: left;
    padding: 5px 0;
    margin: 15px 0;
    background: #fff;
    behavior: url(/PIE.htc);
    z-index: 1000;
    width: 50%;

    img {
        display: inline-block;
        margin-right: 10px;
        padding: 4px;
        border: 1px solid #f1f1f1;
    }
}

a#logo {
    text-indent: -9999px;
    display: block;
    height: 32px;
    width: 106px;
    padding: 0;
    margin-top: 3px;
    margin-left: 20px;
    background-image: url('/img/dunia.png');
    background-size:102px 31px;
    background-repeat: no-repeat;
}

.pad_top {
    padding-top: 5px;
}

.pad_bottom {
    padding-bottom: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

h1 {
    font-family: 'Imprima', Arial, sans-serif;
    font-size: 34px;
    font-weight: normal;
    color: #555;
}

#header  {
    margin: 0;
    padding: 0;
    min-height: 40px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: #eef;
    text-shadow: #27c 0 1px 0;
    text-decoration: none;

    @include nav-gradient;
    @include nav-box-shadow;

    label {
        float: left;
        margin:3px 10px 0 20px;
        font-size: 120%;
    }

    #form {
        display: inline;
        position: relative;
        float: left;
        margin: 0;
        
        ul.nav2 {
          @include inline-block-list-container;
          
          > li {
                @include inline-block-list-item;
                margin: 0 10px;
            }
        }

        #location {
            margin-top: 5px;
            margin-bottom: 0;
            width: 138px;
        }

        #day-select {
            width: auto;
            margin-top: 5px;
            margin-bottom: 0;
        }

        #slider {
            margin: -12px 15px 0 15px;
            width: 200px;
        }
    }



    a {
        font-weight: normal;
        color: #eef;
        font-size: 110%;
        text-shadow: #27c 0 1px 0;
        text-decoration: none;
    }

}



#profile-nav {
    height: 23px;
    img {
        float: left;
        margin: 0 5px 0 7px;
        position: relative;
    }
}

.content {
    padding: 5px;
    background-color: white;
    //padding-bottom: 20px;
    border: solid 1px #D9D9D9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    
    margin-top: 50px;

    h1 {
        margin-top: 30px;
        
        @media (max-width: 480px) {
            margin: 0px;
        }
    }

    @media (max-width: 979px) {
        margin-top: -8px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    //width:21.97%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}

#locate-me {
    position: absolute;
    top: 50px;
    left: 35px;
    z-index: 10;
}

/**
 * Promos
 */

table.promos.generic { 
    td {
        padding: 0;
    }
    th.today {
        color: red;
    }
}

.promo {
    padding: 0;
    .time {
        background-color: #eee;
        margin: 0;
        padding: 5px;
        font-size: 9px;
    }

    .promoDescription {
        text-align: left;
        font-size: x-small;
        font-size: 9px;
    }
    div {
        line-height: 100%;
    }
}

.promoContent {
    text-align: center;
    padding: 5px;
    font-size: 11px;
}

#flag {
    text-align: right;
    margin-top: 10px;

    a {
        color: $blueLink;
        text-decoration: none;
        padding-left: 20px;
        background: url(/img/icons/famfamfam/flag_red.png) no-repeat;
    }
}

.pub-overview {

    #content-row {
        float:left;
    }

    #sidebar-row {
        float:right !important;
        margin-left:auto;
    }

    @media (max-width: 767px) {
        #content-row {
            display: inline-block;
            margin-top: 20px;
            
            @media (max-width: 480px) {
                margin-top: 0px;
            }
            
            width: 100%;
        }

        #sidebar-row {
            float:none !important;
            margin-left:0;
        }
    }

    h2 {
        margin-top: 10px;
        color: #555;
        font-family: 'Imprima', Arial, sans-serif;
        font-weight: normal;
        font-size: 25px;
        border-bottom: 1px solid #eee;
    }

    h1 {
        float: left;
        margin-left: 10px;
        img {
            vertical-align: middle;
            display: inline-block;
            margin-top: -5px;
        }

        @media (max-width: 767px) {
            float: none;
            margin-bottom: 20px;
        }
        
        @media (max-width: 480px) {
            margin-bottom: 0px;
            font-size: 26px;
        }
    }

    label {
        display: inline-block;
        //font-family: 'Imprima', Arial, sans-serif;
        //font-size: 16px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        overflow: auto;
    }

    .addthis_toolbox > a {
        margin: 5px;
    }

    #photos {
        clear: both;
        overflow: auto;

        .venuePic {
            margin: 9px;
            padding: 4px;
            border: 1px solid #ccc;
        }

        li {
            float: left;
        }
    }

    .tip-container {
        clear: both;
        overflow: auto;
        font-size: 13px;
        font-weight: normal;
        color: #444;
        margin: 10px;

        img {
            border: 1px solid #ccc;
            padding: 3px;
            margin-right: 10px;
        }

        a {
            padding: 0;
            text-decoration: none;
            color: #2398C9;
            font-weight: bold;
        }

        .date {
            color: #999;
        }
    }

    #tipsWrapper ul {

        li {
            overflow: auto;
            margin-bottom: 5px;
        }

        .separator {
            border-bottom: 1px solid #f1f1f1;
            margin: 0 10px;
        }
    }

    .details {
        #street-view {
            position: relative;
            z-index: 10;
            top: 195px;
            margin-left: 5px;
        }

        .contact {
            .address {
                float: left;
                padding: 5px;
            }

            .urls {
                float: right;
                padding: 5px;
            }
        }

        overflow: auto;
        margin-bottom: 20px;
    }

    .sidebar {
        height: 100%;
        border-left: solid 1px #f1f1f1;

        span.price {
            font-weight: bold;
            font-size: 22px;
            color: #000000;
        }

        span.liquorType {
            font-family: 'Imprima', Arial, sans-serif;
            font-weight: normal;
            font-size: 20px;
        }

        .liquorSize {
            font-family: 'Imprima', Arial, sans-serif;
            font-style: italic;
            padding: 5px;
        }
    }
    
}

/**
* Index page (big map)
*/

#bottom-info-bar {

    @media (max-width: 480px) {
        display: none;
    }

    .summary {
        img {
            vertical-align: middle;
            padding-right: 3px;
        }

        font-family: 'Imprima', Arial, sans-serif;
        font-size: 18px;
        a {
            text-decoration: none;
            color: #222;
        }

        margin-right: 20px;
    }

    height: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(104, 187, 235, 0.9);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    padding: 5px 5px 5px 15px;
    -moz-border-top-left-radius: 50px 100px;
    -webkit-border-top-left-radius: 50px 100px;
    border-top-left-radius: 50px 100px;
}

.overlay {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    h2 {
        margin: 0 0 5px 0;
        font-size: 24px;
        
        @media (max-width: 767px) {
            margin: 0;
            font-size: 15px;
        }
        
        font-weight: bold;
        color: #555;
        text-align: center;
        font-family: 'Imprima', "Arial", sans-serif;
        vertical-align: middle;

        img {
            display: inline-block;
            vertical-align: middle;

        }
    }

    .overlayContent {
        border: 1px solid rgba(104, 187, 235, 0.9);
        border-left: 0;
        border-right: 0;
        margin: 0;

        div {
            padding: 20px 5px;
            @media (max-width: 767px) {
                padding: 5px;
            }

            font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
            
            font-size: 20px;

            span.price {
                font-weight: bold;
                font-size: 30px;
                
                @media (max-width: 767px) {
                    font-size: 15px;
                }
            }

            span.liquorType {
                font-weight: normal;
                
                @media (max-width: 767px) {
                    font-size: 15px;
                }
                font-size: 24px;
            }

            div.left {
                padding: 0;
            }

            div.right {
                padding: 0;
                margin-left: 10px;

                div.time, div.size {
                    font-size: 14px;
                    padding: 0;
                }
            }

        }

        div.deal {
            padding: 0;
            margin-bottom: 10px;
            @media (max-width: 767px) {
                margin-bottom: 5px;
            }
            overflow: auto;
        }

        h3 {
            text-align: center;
            color: #fff;
            background-color: rgba(104, 187, 235, 0.9);
            font-family: 'Imprima', "Arial", sans-serif;
            font-size: 17px;
            font-weight: normal;

            margin: 0;
            padding: 0;
        }

        table {
            div {
                font-size: 12px;
                padding: 0;
            }
            th {
                padding: 2px 5px;
                font-variant: small-caps;
            }

            // toMixin
            span.price {
                font-weight: bold;
                font-size: 22px;
                color: #000000;
            }

            span.liquorType {
                font-family: 'Imprima', Arial, sans-serif;
                font-weight: normal;
                
                @media (max-width: 767px) {
                    font-size: 15px;
                }
                
                font-size: 20px;
            }

            .liquorSize {
                font-family: 'Imprima', Arial, sans-serif;
                font-style: italic;
                padding: 5px;
            }
            // </toMixin>
            .thePromo {
                padding: 8px 4px 4px 4px;
            }
        }
    }

    .foot {
        margin-top: 10px;
        overflow: auto;
        position: relative;

        .address {
            color: #555;
            font-size: 80%;
        }

        a {
            text-decoration: none;
            color: $blueLink;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

a.small-icon {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 2px;
    text-indent: -9999px;
}

a.ok {
    background: url(/img/icons/famfamfam/accept.png) no-repeat;
}

a.cancel {
    background: url(/img/icons/famfamfam/cancel.png) no-repeat;
}

.admin-nav {
    list-style: none;

    li {
        a {
            font-size: 18px;
            text-decoration: none;
            display: block;
            padding: 6px 10px;
            margin: 0 16px 0 6px;
            border-width: 0 1px;
            border-style: solid;
            border-color: #ddd;
            color: #555;
        }

        a.selected {
            @include nav-gradient;
            @include nav-box-shadow;

            -webkit-border-radius: 50px;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius: 50px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-bottomleft: 10px;
            margin: 0;
            border: 0;
            border-radius: 50px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            color: #fff;
            text-shadow: #27c 0 -1px 0;

        }

    }

}

#flagForm {

    #dealSelector {
        padding: 20px;
        font-size: 15px;
        border-right: 1px solid #ccc;
        margin-right: 20px;
    }

    #dealSubforms {
        dd {
            margin-bottom: 10px;
        }
    }

    dt > label {
        font-weight: bold;
        font-size: 15px;
    }
    label[for*='type-'] {
        font-size: 18px;
        margin: 2px 15px 2px 0;
    }

    fieldset {
        border: 0;
        padding: 0;
    }

    hr {
        color: #ddd;
    }
}

.venuePic {
    margin: 10px;
    padding: 4px;
    border: 1px solid #ccc;
}

#mailshare {
    dd {
        margin-left: 0px;
    }
    .item {
        @include border-radius(4px, 4px);
        width: 350px;
        margin: 10px;
        float: left;
        padding: 5px;
        background: none repeat scroll 0 0 #eee;
    }
    
    form {
        input[type=text] {
            width: 180px;
        }
        &.done {
            @include single-box-shadow(green);
        }
    }
}

#facebookConnect, #signInWithTwitter {
    margin: 20px;
    display: block;
    text-indent: -9999px;
    height: 21px;
    width: 169px;
}

#facebookConnect {
    background: url("/img/icons/facebookconnect.png") no-repeat scroll 0 0 transparent
}

#signInWithTwitter {
    background: url("/img/icons/twittersignin.png") no-repeat scroll 0 0 transparent
}

/**
 * User Profile
 */

#services {
    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 10px;
        }
    }
}

#advanced-filter {
    max-height: 15px;
    @include transition-property(max-height);
    @include transition-duration(1s);
    @include transition-timing-function(ease-out);
    &:hover {
        max-height: 500px;
    }
}

#category-list {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    margin-right: 15px;

    label {
        display: inline-block;
    }

    label, input {
        vertical-align: middle;
    }
}

.glow {
    @include border-radius(3px, 3px);
    overflow: hidden;
}

.promo {
    margin: 3px;

    .thePromo {
        padding: 10px;
        border: 1px solid #eee;

        color: #444;
    }
}


.tooltip {
    display:none;
    background:transparent url('/css/images/black_arrow.png');
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
    z-index: 1000;
}



.state-progress {
    text-align: center;
    padding-top: 10px;
    span {
        font-size: 9px;
        font-weight: bold;
    }
}

@import "ribbon";

@import "about";

@import "help";

.pac-container {
    line-height: 20px;
}

/* Bootstrap override */
.navbar-inverse .navbar-inner {
    border-color: #00B7EA;
}

@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.icon-locate {
    background: url("/img/icons/navbar/74-location.png") no-repeat;
    background-size: 13px 13px;
}